S3method(plot,interbat)
S3method(plot,nipals)
S3method(plot,plsca)
S3method(plot,plsreg1)
S3method(plot,plsreg2)
S3method(plot,simpls)
S3method(plot,simplsca)
S3method(print,interbat)
S3method(print,nipals)
S3method(print,plsca)
S3method(print,plsreg1)
S3method(print,plsreg2)
S3method(print,simpls)
S3method(print,simplsca)
export(interbat)
export(nipals)
export(plsca)
export(plsreg1)
export(plsreg2)
export(simpls)
export(simplsca)
